@using MiPrimerAplicacionWebConEntityFramework.Models;
@model ClienteCLS
@{
    ViewBag.Title = "Editar";
    List<SelectListItem> listaSexo = (List<SelectListItem>)ViewBag.lista;
}

<h2>Editar</h2>

@using (Html.BeginForm("Editar", "Cliente", FormMethod.Post, new { @id = "frmEditar" }))
{
    <div class="row">
        <div class="col-md-6">
            <div>
                @Html.LabelFor(p => p.iidCliente)
                @Html.TextBoxFor(p => p.iidCliente, new { @class = "form-control", @readOnly = "true" })
                @Html.ValidationMessage("iidCliente", new { @class = "text-danger" })
            </div>
            <div>
                @Html.LabelFor(p => p.NOMBRE)
                @Html.TextBoxFor(p => p.NOMBRE, new { @class = "form-control" })
                @Html.ValidationMessage("NOMBRE", new { @class = "text-danger" })
                @if (Model != null && Model.mensajeError !=null)
                {
                    @Html.Label(Model.mensajeError, new {@class="text-danger" })
                }

            </div>
            <div>
                @Html.LabelFor(p => p.APPATERNO)
                @Html.TextBoxFor(p => p.APPATERNO, new { @class = "form-control" })
                @Html.ValidationMessage("APPATERNO", new { @class = "text-danger" })
            </div>
            <div>
                @Html.LabelFor(p => p.APMATERNO)
                @Html.TextBoxFor(p => p.APMATERNO, new { @class = "form-control" })
                @Html.ValidationMessage("APMATERNO", new { @class = "text-danger" })
            </div>

            <div>
                @Html.LabelFor(p => p.EMAIL)
                @Html.TextBoxFor(p => p.EMAIL, new { @class = "form-control" })
                @Html.ValidationMessage("EMAIL", new { @class = "text-danger" })
            </div>
            <div>
                @Html.LabelFor(p => p.DIRECCION)
                @Html.EditorFor(p => p.DIRECCION, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessage("DIRECCION", new { @class = "text-danger" })
            </div>
            <!--Agregando el DropdowList-->
            <div>
                @Html.LabelFor(p => p.IIDSEXO)
                @Html.DropDownList("IIDSEXO", listaSexo, null, new { @class = "form-control" })
                @Html.ValidationMessage("IIDSEXO", new { @class = "text-danger" })
            </div>
            <div>
                @Html.LabelFor(p => p.TELEFONOFIJO)
                @Html.TextBoxFor(p => p.TELEFONOFIJO, new { @class = "form-control" })
                @Html.ValidationMessage("TELEFONOFIJO", new { @class = "text-danger" })
            </div>
            <div>
                @Html.LabelFor(p => p.TELEFONOCELULAR)
                @Html.TextBoxFor(p => p.TELEFONOCELULAR, new { @class = "form-control" })
                @Html.ValidationMessage("TELEFONOCELULAR", new { @class = "text-danger" })
            </div>

            <div>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                    Guardar
                </button>
                @Html.ActionLink("Atras", "Index", "Cliente", null, new { @class = "btn btn-danger" })
            </div>
        </div>
    </div>
}

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Desea guardar los cambios?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" onclick="Editar()" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>

<script>
    function Editar() {
        var frmeditar = document.getElementById("frmEditar");

        frmeditar.submit();
    }

</script>