@using MiPrimerAplicacionWebConEntityFramework.Models
@model List<UsuarioCLS>

@{
    ViewBag.Title = "Index";
    List<SelectListItem> listapersona = (List<SelectListItem>)ViewBag.listapersonas;
    List<SelectListItem> listarol = (List<SelectListItem>)ViewBag.listarol;
}

<h2>Index</h2>
<!-- Button trigger modal -->
<button type="button" onclick="Agregar()" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Agregar
</button>

@using (Ajax.BeginForm("Filtro", "Usuario", null, new AjaxOptions
{
    HttpMethod = "Post",
    UpdateTargetId = "divTablaUsuario",
    InsertionMode = InsertionMode.Replace
}, new { @id = "frmFiltro" }))
{
    @Html.TextBox("nombrePersona", null,new {@class="form-control" })
    <div id="divTablaUsuario">
        @Html.Partial("_tablaUsuario", Model)
    </div>

}

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Ajax.BeginForm("Guardar", "Usuario", null, new AjaxOptions
            {
                HttpMethod = "Post",
                OnSuccess = "guardar"

            }, new { @id = "frmGuardar" }))
            {
                @Html.Hidden("titulo")
                @Html.Hidden("nombrePersona")
                <div class="modal-body">
                    <div>
                        @Html.Label("ID Usuario")
                        @Html.TextBox("iidusuario ", null, new { @class = "form-control", @readOnly = "true" })
                    </div>
                    <div>
                        @Html.Label("Nombre Usuario")
                        @Html.TextBox("nombreusuario", null, new { @class = "form-control" })
                    </div>
                    <div>
                        @Html.Label("Contrasena")
                        @Html.Password("contra", null, new { @class = "form-control" })
                    </div>

                    <div>
                        @Html.Label("Nombre persona")
                        @Html.DropDownList("iid", listapersona, null, new { @class = "form-control" })
                    </div>
                    <div>
                        @Html.Label("Nombre Rol")
                        @Html.DropDownList("iidrol", listarol, null, new { @class = "form-control" })
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnClose" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            }
        </div>

    </div>
</div>

<script>
    function Agregar() {
        document.getElementById("titulo").value = 1;
    }
    var iid = document.getElementById("iid");
    iid.onchange = function () {
        //algoritmo para cojer el nombre de un combobox completo y meterlo en un texbox o hidden
        document.getElementById("nombrePersona").value = iid.options[iid.selectedIndex].text;
    }

    function guardar(respt) {
        if (respt == 1 || respt == 2) {
            alert("Datos guardados correctamente");
            document.getElementById("btnClose").click();
        } else {
            alert("Error al guardar");
        }
    }

    var nombre = document.getElementById("nombrePersona");
    nombre.onkeyup = function () {
        $("#frmFiltro").trigger("submit");
    }
</script>